
:root{
    --corFundo: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);

}


body{
    margin: 0px;
    padding: 0%;
    background-color: var(--corFundo);
    font-family: "Figtree", sans-serif;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.quadrado{
    background-color: var(--White);
    width: 330px;
    height: 465px;
    border-radius: 12px;
    box-shadow: 6px 8px;
    border-style: solid;
    border-width: 1px;
    
}
.quadrado img{
    width: 90%;
    height: 40%;
    object-fit: cover;
    padding: 5%;
    border-radius: 30px;

}
.informations{
    padding-left: 6%;
    padding-right: 6%;
    

}
.informations h1{
    font-size: 14px;
    background-color: var(--corFundo);
    height: 20px;
    width: 75px;
    border-radius: 6px;
    text-align:center;

}

.informations p:nth-child(2){
    font-size: 14px;
    color: black;
}

.informations h2{
    font-size: 20px;
}
.informations p:nth-child(4){
    color: var(--Gray500);
    font-size: 14px;
}
.informations img{
    height: 30px;
    width: 30px;
    padding: 0%;
}
.autor{
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;
}

